@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My Library is a non-profit digital library where you can keep track of all the books you have read, and the ones you will finish reading in the future.
    Thank you for choosing us!</p>
