@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    50 Sylvan Rd<br />
    Waltham, MA 02451<br />
    <abbr title="Phone">Phone:</abbr>
    (781) 577-4600
</address>

