@{
    ViewBag.Title = "My Library";
}

<div class="jumbotron">
    <h1>
        <center>
            <h1 style="background-color:DodgerBlue;">Welcome to your library!</h1>
        </center>
    </h1>

</div>

